body{
    background: url("images/firstback.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: -550px -450px, 100px 100px;
}

.logo img{
    width: 170px;
    height: auto;
}

.table{
    width: 100%;
}

.table1{
    width: 50%;
}

.table2{
    width: 25%;
    margin-left: 100px;
}

.uni{
    width: 200px;
}
.uni a{
    padding-left: 45px;
    color: white;
}
.uni a:link{
    text-decoration: none;
}

.emp{
    width: 200px;
}
.emp a{
    color: white;
}
.emp a:link{
    text-decoration: none;
}

.contact{
    width: 150px;
    margin-right: 40px;
}
.security{
    width: 120px;
    
}
.login{
    width: 80px;
}
.signup{
    
}

.contact a{
    color: gray;
}
.security a{
    color: gray;
    
}
.login a{
    color: black;
}
.signup a{
    color:black;
}

.contact a:link{
    text-decoration: none;
}
.security a:link{
    text-decoration: none;
}
.login a:link{
    text-decoration: none;
}
.signup a:link{
    text-decoration: none;
}

.table2 a{
    font-size: 17px;
}

.para{
    
    width: 60%;
    text-align: left;
}
.para p{
    margin-top: -210px;
    margin-left: 100px;
    font-size: 40px;
    color: white;
}
.image{
    
    width: 500px;
    height: 600px;
}

.image img{
    width: 500px;
    margin-top: 100px;
}

.para a {
    margin-left: 100px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 25px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    transition: 0.4s ease;
}

.para a:hover{
    color: #322f70;
    background-color: white;
}

.para a:link{
    text-decoration: none;
}

.start{
    width: 50%;
}
.illu2{	
    width: 36%;
}
.illu2 img{
    width: 360px;
    margin-left: 185px;
    margin-top: 50px;
}

.stress{
    font-size: 33px;

}

.text{
    margin-top: -200px;
    margin-left: 80px;
}

.receive{
    margin-top: -28px;
}

.text a button{
    border-style: none;
    border-radius: 20px;
    width: 115px;
    height: 33px;
    margin-top: 10px;
    color: white;
    background-color: #322f70;
    font-size: 14px;
    transition: 0.4s ease;
}

.text a button:hover{
    background-color: #262358;
}
.login:link{
    text-decoration: none;
}
.login{
    margin-left: 5px;
    font-size: 16px;
}